# OS files
.DS_Store
*.DS_Store

# Build files & executables
raycaster
*.exe
*.out
*.app
*.o
*.obj

# Visual Studio files
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.idb
*.pdb
*.tlog
*.recipe
x64/
x86/

# Compiled libraries
*.so
*.dylib
*.dll
*.a
*.lib
